<h1>Sign Up</h1>

<%= render partial: "form", locals: { user: @user } %>

Or:
<p>Try <%= link_to 'Signing in with Facebook', '/auth/facebook'%>.</p>
<p>Try <%= link_to 'Signing in with GitHub', '/auth/github'%>.</p>
Or
<p><%=link_to 'Log in', '/login'%></p>