<h1 class="undlerline font-bold">Sign Up</h1>
<br>
<%= render partial: "layouts/errors", locals: {variable: @user} %>
<%= render partial: "form", locals: { user: @user } %>


Or:
<br>
<div class="inline-block align-baseline text-center font-bold text-lg text-blue-800 hover:text-blue-900">
    <p> <%= link_to 'Sign in with Facebook', '/auth/facebook'%>.</p>
</div>
Or
<div class="inline-block align-baseline text-center font-bold text-lg text-blue-800 hover:text-blue-900">
    <p><%=link_to 'Log in', '/login'%></p>
</div>
  