<div>
    <h1>Name: </h1> 
        <p><%=@user.name%></p>
        <br>
    <h1>Email: </h1>
        <p><%=@user.email%></p>
    <br>
<%if @user == current_user%>
    <%=link_to "Edit Account Info", edit_user_path(@user)%>
<%end%>