<%=render partial: "form", locals: {event: @event}%>


<div class="event">
  <%= link_to "Delete", @event, method: :delete, data: { confirm: "Really?" } %>
</div>



<%#how can i delete some addresses associated with events? - view the show then delete. %>  
<%# "/events/#{@event.id}/addresses/#{add.id}" %>