<div class="text-red">
  <%if flash[:message].present?%>
      <%=flash[:message]%>
  <%end%>
</div>
<div>
  <% @events.each do |event| %>
    <div class="event">
      <span><%=link_to event.name, event_path(event) %></span>
    </div>
  <% end %>
</div>

<%# get a map in here that displays all? %>