<% @events.each do |event| %>
<div class="event">
  <span><%=link_to event.name, event_path(event) %></span>
  <%= link_to "Delete", event, method: :delete, data: { confirm: "Really?" } %>
  <%# get a map in here that displays all? %>
</div>
<% end %>