<%=@address.full_address%>
<%=@address.get_coordinates%>
<%# <div class="address"> %>
  <%# <%= link_to "Delete", @address, method: :delete, data: { confirm: "Really?" } %>
<%# </div> %>

<%# Parameters:

{"event_id"=>"7", "id"=>"7"} %>