     <% if variable.errors.any? %>
      <div id="error_explanation">
    <h2>
      <%= pluralize(variable.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% variable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>